/* resset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

/* Propiedades Personalizadas */
:root {
  
  /* Colores de Contenedores Principales */
  --bg-body: #7c1175;
  --bg-container: #641143;
  --bg-container-counter: #190836;
  --bg-task: #a189ca;
  --bg-task-complete: #7c54c2;
  
  /* Espacios */
  --space-l: 1rem;
  --space-m: .8rem;
  --space-s: .5rem;

  /* Colores de Textos */
  --text-primary: #ffffff;
  --text-secondary: #dcab0b;
  --text-counter: turquoise;

  /* Color Botones */
  --btn-add-color: #f6b64f;
  --btn-add-color-hover: #815f27;
  --btn-hide-color: #f6ff00;
  --btn-hide-color-hover: #797d0a;
  --btn-remove-color: #00ff88;
  --btn-remove-color-hover: #1c8e59e5;

  --btn-text-color: var(--bg-body);
  --btn-text-color-hover: var(--text-primary);
  
  /* Bordes */
  --border-container: #b41fc2;
  --border-radius: 8px;
  --border-size: 2px:

  /* Iconos */
  --icon-color: ;
  --icon-color: #ffffff;
  --icon-color-hover: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;

  font-family: 'Rubik'  'Helvetica';
  padding: var(--space-l);
  background-color: var(--bg-body);
}

.contenedor {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);

  width: 100%;
  max-width: 640px;
  height: fit-content;

  padding: var(--space-m);

  border-width: var(--border-size);
  border-style: solid;
  border-color: var(--border-container);

  border-radius: var(--border-radius);
  background-color: var(--bg-container);
}

.titulo {
  font-size: 1.5rem;
  color: var(--text-primary);
}

.mensaje {
  font-size: 1rem;
  color: var(--text-secondary);
}

.tarea-entrada {
  width: 100%;
  font-size: 1rem;
  padding: var(--space-l);
  border-radius: var(--border-radius);
  border: none;
  
}

.contenedor-botones {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
  width: 100%;
}

.boton {
  padding: var(--space-m) var(--space-s);
  border: none;
  border-radius: var(--border-radius);
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--btn-text-color);
}

.boton:hover {
  color: var(--btn-text-color-hover);
  transition: 0.5s ease;
}

.boton-agregar {
  color: var(--btn-text-color);
  background-color: var(--btn-add-color);
}

.boton-agregar:hover {
  background-color: var(--btn-add-color-hover);
  transition: 0.5s ease;
}

.boton-ocultar {
  color: var(--btn-text-color);
  background-color: var(--btn-hide-color);
}

.boton-ocultar:hover {
  background-color: var(--btn-hide-color-hover);
  transition: 0.5s ease;
}

.boton-eliminar {
  color: var(--btn-text-color);
  background-color: var(--btn-remove-color);
}

.boton-eliminar:hover {
  background-color: var(--btn-remove-color-hover);
  transition: 0.5s ease;
}

.conteo-conteo {
  display: flex;
  justify-content: space-between;
  gap: var(--space-m);
  padding: var(--space-m);
  background-color: var(--bg-container-counter);
  border: 1px solid var(--border-container);
  border-radius: var(--border-radius);
}

.conteo-conteo p {
  color: var(--text-counter);
  font-size: .95rem;
}

.tareas-totales,
.tareas-terminadas {
  color: var(--text-primary);
  font-weight: 500;
}

.contenedor-tareas {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  width: 100%;
}

.tarea {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: var(--space-m);
  padding: var(--space-s) var(--space-m);

  border-radius: var(--border-radius);

  background-color: var(--bg-task);
}

.tarea-texto {
  flex-grow: 1;
  flex-shrink: 1;
}

.tarea-iconos {
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  gap: var(--space-m);

}

.tarea-iconos i {
  font-size: 1.5rem;
  color: var(--icon-color);
  cursor: pointer;
}

.tarea-iconos i:hover {
  color: var(--icon-color-hover);
  transition: 0.3s ease;
}

.tarea-completada {
  text-decoration: line-through;
  background-color: var(--bg-task-complete);
}


